<!--
  Generated template for the DoctorslistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="colour"> <ion-title>Doctor's List</ion-title>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
   </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-item *ngFor="let doctor of doctorList">
   <ion-card>
     <p>FirstName:{{doctor.firstname}}</p>
     <p>LastName:{{doctor.lastname}}</p>
     <p>Email:{{doctor.email}}</p>
     <p>Specialist:{{doctor.specialist}}</p>
     <p>Timings:{{doctor.timings}}</p>
    </ion-card>
  </ion-item>
</ion-content>
