<!--
  Generated template for the FirsthosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="colour">
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <img src="assets/imgs/hos1.jpg"/>
    <ion-card-content>
     <ion-card-title>
       Nine Inch Nails Live
       </ion-card-title>
     <p>
       The most popular industrial group ever, and largely
       responsible for bringing the music to a mass audience.
     </p>
    </ion-card-content>
 </ion-card>

     <div align="center">
           <button ion-button class="color btween info"style="background-color: #30e5b8;color:white" (click)="book()">Book Appointment</button>
  
          </div>
 
  
</ion-content>
