page-viewprofile {
.hide-card {
    -webkit-box-shadow: none!important;
  }
  
  .custom-avatar {
    height: 30vw;
    width: 30vw;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

}
.color{
  color: white;
  margin-left: 50px;

}
.btween {
border: 2px solid white;
border-radius: 5px;
background-color: white;
color: white;
padding: 14px 45px;
//size: 16px;
cursor: pointer;
margin-left: 30px;
margin-top: 1px;
   
}

.info {
border-color:white;
color: dodgerblue 
}

}