<!--
  Generated template for the ViewprofilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="colour">
    <ion-title>View Profile</ion-title>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-card text-center class="hide-card">
    <img src="assets/imgs/doctor1.jpg" class="custom-avatar" />
    <h2>Victorcodex</h2>
    <p>Have some p tag here</p>
    <p>I am the third guy inline here</p>
  </ion-card>

  <ion-list *ngFor="let profile of profileList">
    <ion-card>
      <ion-card-content>
        FirstName:{{profile.firstname}}
        <ion-icon class="margin" name="create" item-right></ion-icon>
      </ion-card-content>
    </ion-card>



    <ion-card>
      <ion-card-content>
        lastName:{{profile.lastname}}
        <ion-icon class="margin" name="create" item-right></ion-icon>
      </ion-card-content>
    </ion-card>



    <ion-card>
      <ion-card-content>
        Email: {{profile.email}}
        <ion-icon class="margin" name="create"></ion-icon>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-content>
        Specialist : {{profile.specialist}}
        <ion-icon class="margin" name="create"></ion-icon>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-content>
        Timings: {{profile.timings}}
        <ion-icon class="margin" name="create"></ion-icon>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <div align="center">
    <button ion-button class="color btween info" style="background-color: #30e5b8;color:white" (click)="update()" >Update</button>
  </div>

</ion-content>