<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

   <ion-toolbar color="colour">
      <ion-title>Dash Board</ion-title>
      <button ion-button menuToggle icon-only>
         <ion-icon name="menu"></ion-icon>
      </button>
   </ion-toolbar>

</ion-header>
<ion-content>
   <div>
      <ion-slides class="slide" autoplay="500" loop="true" speed="3000">
         <ion-slide *ngFor="let image of ImageArray">
            <img src="{{image.image}}" height="593" width="890" />
         </ion-slide>
      </ion-slides>
   </div>
   <div style="text-align:center;">
      <button ion-button  style="background-color: #30e5b8;color:white; height: 30px; width: 250px; margin-top: 20px">Talk to Doctor
         <ion-icon md="md-arrow-forward" item-end style="font-size: 20px;margin-left: 20px;"></ion-icon></button>
   </div>
   <ion-list>
      <ion-row style="margin-top: 15px;">
         <ion-col (click)="about()">
            <div class="wrapper">
               <img src="assets/imgs/dash.jpg" style="height: 100px;">
               <p style="font-family: fantasy;color:black">Medical</p>
            </div>
         </ion-col>
         <ion-col (click)="about()">
            <div class="wrapper">
               <img src="assets/imgs/dash2.jpg" style="height: 100px;">
               <p style="font-family: fantasy;color:black">Psychology</p>
            </div>
         </ion-col>
         <ion-col (click)="about()">
            <div class="wrapper">
               <img src="assets/imgs/dash3.jpg"style="height: 100px;">
               <p style="font-family: fantasy;color:black">Pediatrics</p>
            </div>
         </ion-col>
      </ion-row>
   </ion-list>
   <ion-row style="margin-bottom: 15px">
      <ion-col (click)="about()">
         <div class="wrapper">
            <img src="assets/imgs/dash4.jpg" style="height: 100px;">
            <p style="font-family: fantasy;color:black">Diet</p>
         </div>
      </ion-col>
      <ion-col (click)="about()">
         <div class="wrapper">
            <img src="assets/imgs/dash5.jpg" style="height: 100px;">
            <p style="font-family: fantasy;color:black">Sexology</p>
         </div>
      </ion-col>
      <ion-col (click)="about()">
         <div class="wrapper">
            <img src="assets/imgs/dash6.jpg" style="height: 100px;">
            <p style="font-family: fantasy;color:black">Dermatology</p>
         </div>
      </ion-col>
   </ion-row>
   <ion-row>
      <ion-col (click)="about()">
         <div class="wrapper">
            <img src="assets/imgs/dash7.jpg" style="height: 100px;">
            <p style="font-family: fantasy;color:black">Gynecology</p>
         </div>
      </ion-col>
      <ion-col (click)="about()">
         <div class="wrapper">
            <img src="assets/imgs/dash8.jpg" style="height: 100px;">
            <p style="font-family: fantasy;color:black">Psychiatry</p>
         </div>
      </ion-col>
      <ion-col (click)="about()">
         <div class="wrapper">
            <img src="assets/imgs/dash9.jpg" style="height: 100px;">
            <p style="font-family: fantasy;color:black">Homeopothy</p>
         </div>
      </ion-col>
   </ion-row>
</ion-content>