page-dashboard {
    .slide{
         margin-top: 5px;
         border-radius: 8px;
    }
    

    
    .swiper-slide img {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        border-radius: 8px;
    }
    .custom-avatar {
        height: 15vw;
        width: 15vw;
        border: 1px solid #fff;
        border-radius: 50%;
        display: inline-block;
        margin-left: 20px;
        margin-right: auto;
        margin-top: 10px;
      }
      .card{
          margin-top: 30px;
      }
      .color{
        color: white;
        margin-left: 50px;
     
     }
     .between {
        border: 2px solid white;
        border-radius: 5px;
        background-color: white;
        color: white;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        margin-left: 30px;
        margin-top: 20px;
        width: 300px;
            
    }
    .info {
        border-color:white;
        color: dodgerblue 
    }
    .wrapper {
        position: relative;
      }
      
      .wrapper p {
        
        bottom: 5%;
        color: red;
        font-family: Roboto;
        font-size: 1.25em;
        left: 0;
        padding: 0.25em 0.75em;
        position: absolute;
      }
      page-dashboard .wrapper p {
        bottom: 5%;
        /* color: red; */
        color: black;
        font-family: fantasy;
        font-size: 1.25em;
        left: 0;
        /* margin-top: 10px; */
        padding: 0.25em 0.75em;
        position: absolute;
       }
 

    }