  
 
<ion-header>

  <ion-navbar color="colour">
    <ion-title text-center>Select Panchayat</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="cancel()">
        Cancel
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar  [(ngModel)]="searchKey" [showCancelButton]="true" (ionInput)="getItems($event)"></ion-searchbar>
 
 </ion-header>  
    
        
 <ion-content padding>
  <ion-list>
   
    <button ion-item *ngFor="let sState of Searchlist" (click)="dismiss(sState)">
      {{ sState.name }}
    </button>
  </ion-list>    
 
  
 </ion-content>        
 
 