<!--
  Generated template for the HomeremedyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar color="colour">
        <ion-title>Patient Entry</ion-title>
        <button ion-button menuToggle icon-only>
           <ion-icon name="menu"></ion-icon>
        </button>
     </ion-toolbar>
</ion-header>


<ion-content padding>
<ion-searchbar></ion-searchbar>
<ion-card>
  <p>
    This are the medicines to be used
  </p>
</ion-card>
</ion-content>
