<!--
  Generated template for the ConfirmpwdPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-toolbar color="colour">
        <ion-title>Change Password</ion-title>
        <button ion-button menuToggle icon-only>
           <ion-icon name="menu"></ion-icon>
        </button>
     </ion-toolbar>
  
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-input type="email" placeholder="Enter email-id "></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Enter old Password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Enter new Password"></ion-input>
    </ion-item>
    </ion-list>
    <div align="center">
      <button ion-button class="color btween info"style="background-color: #30e5b8;color:white" (click)="showConfirm()">update</button>
     </div>
  
</ion-content>
