<!--
  Generated template for the AppointmentlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar no-border-bottom color="colour">
    <ion-title>
      Appointment's List
    </ion-title>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu">
      </ion-icon>
    </button>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="appointments">
      <ion-segment-button value="today">
        Today
      </ion-segment-button>
      <ion-segment-button value="tomorrow">
        Tomorrow
      </ion-segment-button>
      <ion-segment-button value="nextday">
        Nextday
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div [ngSwitch]="appointments">
    <ion-list *ngSwitchCase="'today'">
      <ion-item>
        <h2>Patient1
          <ion-icon name="checkbox" style="margin-left: 180px;"></ion-icon>
          <ion-icon name="trash" style="margin-left: 20px;"></ion-icon>

        </h2>
      </ion-item>
      <ion-item>
        <h2>Patient2
          <ion-icon name="checkbox" style="margin-left: 180px;"></ion-icon>
          <ion-icon name="trash" style="margin-left: 20px;"></ion-icon>
        </h2>
      </ion-item>
      <ion-item>
        <h2>Patient3
          <ion-icon name="checkbox" style="margin-left: 180px;"></ion-icon>
          <ion-icon name="trash" style="margin-left: 20px;"></ion-icon>
        </h2>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'tomorrow'">
        <ion-item>
            <h2>Patient1
              <ion-icon name="checkbox" style="margin-left: 180px;"></ion-icon>
              <ion-icon name="trash" style="margin-left: 20px;"></ion-icon>
    
            </h2>
          </ion-item>
          <ion-item>
            <h2>Patient2
              <ion-icon name="checkbox" style="margin-left: 180px;"></ion-icon>
              <ion-icon name="trash" style="margin-left: 20px;"></ion-icon>
            </h2>
          </ion-item>
          <ion-item>
            <h2>Patient3
              <ion-icon name="checkbox" style="margin-left: 180px;"></ion-icon>
              <ion-icon name="trash" style="margin-left: 20px;"></ion-icon>
            </h2>
          </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'nextday'">
        <ion-item>
            <h2>Patient1
              <ion-icon name="checkbox" style="margin-left: 180px;"></ion-icon>
              <ion-icon name="trash" style="margin-left: 20px;"></ion-icon>
    
            </h2>
          </ion-item>
          <ion-item>
            <h2>Patient2
              <ion-icon name="checkbox" style="margin-left: 180px;"></ion-icon>
              <ion-icon name="trash" style="margin-left: 20px;"></ion-icon>
            </h2>
          </ion-item>
          <ion-item>
            <h2>Patient3
              <ion-icon name="checkbox" style="margin-left: 180px;"></ion-icon>
              <ion-icon name="trash" style="margin-left: 20px;"></ion-icon>
            </h2>
          </ion-item>
    </ion-list>
  </div>

</ion-content>