<!--
  Generated template for the UploadhospitalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="colour"> <ion-title>Upload Hospital</ion-title>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
   </ion-toolbar>
</ion-header>


<ion-content padding>
      
      <ion-nav id="nav" #content [root]="rootPage"></ion-nav>
    
  <div align="center">
      <img src="assets/imgs/camera.jpg" style="width:100px; height:100px" (click)="opencam()"/>
  </div>
  
  <div id="container">
      <ion-list>
        <ion-card>
          <ion-textarea type="text" placeholder="About Hosiptal" style="height:150px"> </ion-textarea>
          </ion-card>
          <ion-card>
            <ion-textarea type="text" placeholder="About Admin" style="height:150px"> </ion-textarea>
            </ion-card>
           
      </ion-list>
      </div>
      <div>
        <button ion-button class="color btween info"style="background-color: #30e5b8;color:white" type="submit" (click)="upload()">Add Hosiptal</button>
      </div>
     
</ion-content>
      