page-uploadhospital {
    
    #rounded {
        width: 100%;
        height: 100px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 10px;
        margin-bottom: 10px;  
    }

    #container {
        width: 300px; 
        margin-left:auto; 
        margin-right: auto; 
    }
    .color{
        color: white;
        margin-left: 50px;
     
     }
    .btween {
     border: 2px solid white;
     border-radius: 5px;
     background-color: white;
     color: white;
     padding: 14px 45px;
     //size: 16px;
     cursor: pointer;
     margin-left: 30px;
     margin-top: 1px;
         
 }
 
   .info {
     border-color:white;
     color: dodgerblue 
 }
    
}
