<!--
  Generated template for the ViewmyhospitalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
     <ion-toolbar color="colour"> <ion-title>viewmyhospital</ion-title>
     <button ion-button menuToggle icon-only>
       <ion-icon name="menu"></ion-icon>
     </button>
    </ion-toolbar>
</ion-header>


<ion-content>
  
<ion-card>
  <img src="assets/imgs/hos1.jpg"/>
</ion-card>

</ion-content>
<ion-fab right bottom>
  <button ion-fab (click)="add()" color="colour" class="style">
  <ion-icon name="add"></ion-icon>
  </button>
  </ion-fab>
<ion-nav id="nav" #content [root]="ViewmyhospitalPage"></ion-nav>