<!-- Default sidemenu -->
<ion-menu [content]="content" id="default">
  <ion-header>
    <ion-toolbar>
      <ion-title>Default Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card text-center class="hide-card">
      <img src="assets/imgs/doctor1.jpg" class="custom-avatar" />
      <h2>Victorcodex</h2>
      <p>Have some p tag here</p>
      <p>I am the third guy inline here</p>
      
    </ion-card>

    <ion-list>
      <button menuClose ion-item (click)="patient()">
        Patient Entry
      </button>
      <button menuClose ion-item (click)="doctorlogin()">
        Doctor Entry
      </button>
      <button menuClose ion-item (click)="admins()">
        Admin Entry
      </button>

    </ion-list>
  </ion-content>
</ion-menu>


<!-- Patient sidemenu -->
<ion-menu [content]="content" id="patient">
  <ion-header>
    <ion-toolbar>
      <ion-title>Patient Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card text-center class="hide-card">
      <img src="assets/imgs/doctor1.jpg" class="custom-avatar" />
      <h2>Victorcodex</h2>
      <p>Have some p tag here</p>
      <p>I am the third guy inline here</p>
      <hr>
    </ion-card>

    <ion-list>
      <button menuClose ion-item (click)="updateappointment()">
        Update Appointment
      </button>
      <button menuClose ion-item (click)="deleteappointment()">
        Cancel Appointment
      </button>
      <button menuClose ion-item (click)="dashboard()">
        Dash Board
      </button>
    </ion-list>
  </ion-content>
</ion-menu>


<!-- Doctor sidemenu -->
<ion-menu [content]="content" id="doctor">
  <ion-header>
    <ion-toolbar>
      <ion-title>Doctor Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card text-center class="hide-card">
      <img src="assets/imgs/doctor1.jpg" class="custom-avatar" />
      <h2>Victorcodex</h2>
      <p>Have some p tag here</p>
      <p>I am the third guy inline here</p>
      <hr>
    </ion-card>

    <ion-list>
      <button menuClose ion-item (click)="viewp()">
        View Profile
      </button>
      <button menuClose ion-item (click)="changep()">
        Change Password
      </button>
      <button menuClose ion-item (click)="contactadmin()">
        Contact Admin
      </button>
      <button menuClose ion-item (click)="appointmentlist()">
          Appointment List
        </button>
      <button menuClose ion-item (click)="logoutdoc()">
        Logout
      </button>

    </ion-list>
  </ion-content>
</ion-menu>



<!-- Admin sidemenu -->
<ion-menu [content]="content" id="admin">
  <ion-header>
    <ion-toolbar>
      <ion-title>Admin Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card text-center class="hide-card">
      <img src="assets/imgs/doctor1.jpg" class="custom-avatar" />
      <h2>Victorcodex</h2>
      <p>Have some p tag here</p>
      <p>I am the third guy inline here</p>
      <hr>
    </ion-card>

    <ion-list>
      <button menuClose ion-item (click)="addoctor()">
        Add Doctor
      </button>
      <button menuClose ion-item (click)="doctorlist()">
         Doctor's List
      </button>
      <button menuClose ion-item (click)="hospital()">
       View My Hospital
      </button>
      <button menuClose ion-item (click)="logout()">
        Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- common Menu -->
<ion-menu [content]="content" id="common">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card text-center class="hide-card">
      <img src="assets/imgs/doctor1.jpg" class="custom-avatar" />
      <h2>Victorcodex</h2>
      <p>Have some p tag here</p>
      <p>I am the third guy inline here</p>
      <hr>
    </ion-card>

    <ion-list>
      <button menuClose ion-item (click)="dashboard()">
        Dash Board
      </button>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-nav id="nav" #content [root]="rootPage"></ion-nav>