<!--
  Generated template for the AdminsignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="colour">
    <ion-title>Admin Entry</ion-title>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>


<ion-content padding class="home-background">
    <form [formGroup]="formgroup" (ngSubmit)="login()">
  <ion-list style="width: 85%;margin-left:8%;margin-top:180px">
    <ion-item style="margin-bottom: 4%; border-radius: 0px;">
    <ion-label>
    <ion-icon color="dark" style="font-size:20px" ios="ios-person" md="md-person"></ion-icon>
    </ion-label>
    <ion-input type="email" placeholder="Enter Email-id" formControlName="email"></ion-input>
    </ion-item>
    <ion-item style="border-radius: 0px; margin-bottom: 4%">
    <ion-label>
    <ion-icon color="dark" style="font-size:20px" ios="ios-key" md="md-key"></ion-icon>
    </ion-label>
    <ion-input type="password" placeholder="Enter Password" formControlName="password"></ion-input>
    </ion-item>
    <div>
    <button ion-button class="color btn info" style="background-color: #30e5b8;color:white; width: 200px;" [disabled]='!formgroup.valid'>login</button>  
  </div>  
  </ion-list>
    </form>
  </ion-content>
