<!--
  Generated template for the UpdateappointmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-toolbar color="colour">
        <ion-title>Update Appointment</ion-title>
        <button ion-button menuToggle icon-only>
           <ion-icon name="menu"></ion-icon>
        </button>
     </ion-toolbar>
  
</ion-header>


<ion-content padding>
  <ion-card text-center class="hide-card">
    <img src="assets/imgs/logo1.jpg" class="custom-avatar" />
    <h2>Victorcodex</h2>
    <p>Have some p tag here</p>
    <p>I am the third guy inline here</p>
    <hr>
  </ion-card>
  <ion-card>
    <ion-card-content>
       Name: Supriya Sareddy
       <ion-icon name="create" item-right></ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-content>
         Email: supriya@gmail.com
         <ion-icon class="margin" name="create"></ion-icon>
      </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
           Specialist : Cardiologist.
           <ion-icon class="margin" name="create"></ion-icon>
        </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-content>
             Timings: 2PM to 9PM
             <ion-icon class="margin" name="create"></ion-icon>
          </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                Password: supriya123
                <ion-icon name="create" item-right></ion-icon>
             </ion-card-content> 
        </ion-card>
        <div align="center">
          <button ion-button class="color btween info"style="background-color: #30e5b8;color:white" (click)="updated()">Update Data</button>
 
         </div>
</ion-content>
