page-doctorlogin {
    .home-background {
        background: url("../assets/imgs/doctor1.jpg") no-repeat center fixed;
        background-size: cover;
        opacity: 0.5px;
        }
    #log{
        .login{
            margin-top: 120px;
        }
        .myview{
        background-image: url('assets/imgs/hos.jpg');
    }
    .color{
        color: white;
        margin-left: 50px;
     
     }
    .btween {
     border: 2px solid white;
     border-radius: 5px;
     background-color: white;
     color: white;
     padding: 14px 45px;
     //size: 16px;
     cursor: pointer;
     margin-left: 30px;
     margin-top: 1px;
         
  }
  
   .info {
     border-color:white;
     color: dodgerblue 
  }
}
}
