<!--
  Generated template for the ViewpatientPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="colour">
    <ion-title>viewpatient</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card text-center class="hide-card">
    <img src="assets/imgs/logo1.jpg" class="custom-avatar" />
    <h2>Victorcodex</h2>
    <p>Have some p tag here</p>
    <p>I am the third guy inline here</p>
    <hr>
  </ion-card>
  <ion-card>
    <ion-card-content>
      Name: Supriya Sareddy
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      Email: supriya@gmail.com
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      Specialist : Cardiologist.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      Timings: 2PM to 9PM
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      Password: supriya123
    </ion-card-content>
  </ion-card>
  <div align="center">
    <button ion-button class="color btween info"style="background-color: #30e5b8;color:white" (click)="ok()">OK</button>

   </div>
</ion-content>