<!--
  Generated template for the ContactadminPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-toolbar color="colour">
        <ion-title>Contact Admin</ion-title>
        <button ion-button menuToggle icon-only>
           <ion-icon name="menu"></ion-icon>
        </button>
     </ion-toolbar>
  
</ion-header>


<ion-content padding>
  <div id="container">
    <ion-list>
      <ion-card>
        <ion-textarea type="text" placeholder="Report issue to Admin" style="height:150px"> </ion-textarea>
      </ion-card>
    </ion-list>
  </div>
  <div align="center">
    <button ion-button type="submit" class="color between info" style="background-color: #30e5b8;color:white" (click)="report()">Submit</button>
  </div>
</ion-content>