<!--
  Generated template for the AddoctorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="colour"> <ion-title>Add Doctor</ion-title>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
   </ion-toolbar>
</ion-header>
    

<ion-content padding>
    <form [formGroup]="formgroup" (ngSubmit)="add()">
  <ion-list>
    <ion-item>
        <ion-input type="text" placeholder="Firstname" formControlName="firstname"></ion-input>
      </ion-item>

      <ion-item>
          <ion-input type="text" placeholder="Lastname" formControlName="lastname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" placeholder="Specialist" formControlName="specialist"></ion-input>
          </ion-item>
          <ion-item>
              <ion-datetime displayFormat="MMM DD, YYYY hh a" pickerFormat="MMM DD, YYYY hh a" placeholder="Timings" formControlName="timings"></ion-datetime>
            </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
          </ion-item>
          <button ion-button class="color btn info" style="background-color: #30e5b8;color:white; width: 200px;" [disabled]='!formgroup.valid'>login</button>  
            
    
  </ion-list>
  </form>
</ion-content>
