<!--
  Generated template for the UpadatehospitalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="colour">
    <ion-title>Updatehospital</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-content padding>
      
    <ion-nav id="nav" #content [root]="rootPage"></ion-nav>
  
<div align="center">
    <img src="assets/imgs/camera.jpg" style="width:100px; height:100px" (click)="opencam()"/>
</div>

<div id="container">
    <ion-list>
      <ion-card>
        <ion-textarea type="text" placeholder="About Hosiptal" style="height:150px"> </ion-textarea>
        </ion-card>
        <ion-card>
          <ion-textarea type="text" placeholder="About Admin" style="height:150px"> </ion-textarea>
          </ion-card>
         
    </ion-list>
    </div>
    <div>
      <button ion-button type="submit" (click)="update()">Update Hospital Details</button>
    </div>
   
</ion-content>
    
</ion-content>
