<!--
  Generated template for the BookappointmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="colour">
    <ion-title>Book Appointment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="formgroup" (ngSubmit)="showConfirm()">
    <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="Firstname" formControlName="firstname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Lastname" formControlName="lastname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" placeholder="Phone Number" formControlName="phonenumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Disease" formControlName="disease"></ion-input>
    </ion-item>
    <ion-item>     
      <ion-input type="number" placeholder="Days suffering from " formControlName="days"></ion-input>
    </ion-item>
    <ion-item>
      <ion-datetime display-format="MMM DD, YYYY hh a" pickerFormat="MMM DD, YYYY hh a" placeholder="Enter timings for checkup" formControlName="timings"></ion-datetime>
    </ion-item>
  </ion-list>
     <div align="center">
      <button
       ion-button class="color btween info"style="background-color: #30e5b8;color:white" [disabled]='!formgroup.valid'>Book</button>
    </div>
  </form>
</ion-content>