page-patiententry {
    .home1{ 
        width: 100%;
        padding: 30px 30px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        
         }
         .color{
            color: white;
            margin-left: 50px;
         
         }
         .btn {
            border: 2px solid white;
            border-radius: 5px;
            background-color: white;
            color: white;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            margin-left: 30px;
            margin-top: 250px;
            width: 300px;
                
        }
        .between {
            border: 2px solid white;
            border-radius: 5px;
            background-color: white;
            color: white;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            margin-left: 30px;
            margin-top: 50px;
            width: 300px;
                
        }
        .info {
            border-color:white;
            color: dodgerblue 
        }
        .home2 {
            background: url("../assets/imgs/doctor1.jpg") no-repeat center fixed;
            background-size: cover;
            opacity: 0.5px;
            } 
     
}
