<!--
  Generated template for the PatiententryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
   <ion-toolbar color="colour">
      <ion-title>Patient Entry</ion-title>
      <button ion-button menuToggle icon-only>
         <ion-icon name="menu"></ion-icon>
      </button>
   </ion-toolbar>

</ion-header>
<ion-content padding class="home2">
   <ion-row>
      <button ion-button class="color btn info" style="background-color: #30e5b8;color:white" (click)="search()">Hospital
         Search</button>
   </ion-row>
   <ion-row>
      <button ion-button class="color between info" style="background-color: #30e5b8;color:white" (click)="remedy()">Home Remedy</button>
   </ion-row>
</ion-content>