<!--
  Generated template for the PatientupdateloginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="colour">
    <ion-title></ion-title>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-toolbar>

</ion-header>



<ion-content padding class="home-background">
  <form [formGroup]="formgroup" (ngSubmit)="updateappointment()">
    <ion-list style="width: 85%;margin-left:8%;margin-top:180px">
      <ion-item style="margin-bottom: 4%; border-radius: 0px;">
        <ion-label>
          <ion-icon color="dark" style="font-size:20px" ios="ios-person" md="md-person"></ion-icon>
        </ion-label>
        <ion-input type="tel" placeholder="Enter Phone Number" formControlName="phonenumber"></ion-input>
      </ion-item>
      <button ion-button type="submit" class="color between info" style="background-color: #30e5b8;color:white; align-content: center" [disabled]='!formgroup.valid'>Go</button>
    </ion-list>
  </form>
</ion-content>