<!--
  Generated template for the HossearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="colour"> <ion-title>Hospital Search</ion-title>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
   </ion-toolbar>
</ion-header>
   

<ion-content padding class="home2">
  <ion-row>
    <ion-col>
     <ion-label>
   <button ion-button class="color btn info" on-tap="filterModal()" style="background-color: #30e5b8;color:white">filter</button>
 </ion-label>
 </ion-col>
 
 <ion-col>
   <ion-label>
    <button ion-button class="color btween info"style="background-color: #30e5b8;color:white"><ion-icon name="pin"></ion-icon></button>
   </ion-label>
 </ion-col>
 
 </ion-row>
 <ion-row>
  <ion-searchbar></ion-searchbar>

</ion-row>
  <ion-list>
    <ion-card (click)="hos1()">
     <img src="assets/imgs/hos1.jpg"/>
     <ion-card-content>
      <ion-card-title>
        Nine Inch Nails Live
        </ion-card-title>
      <p>
        The most popular industrial group ever, and largely
        responsible for bringing the music to a mass audience.
      </p>
      <p>
        Timings: 5PM to 9PM
      </p>
     </ion-card-content>
  </ion-card>
  <ion-card (click)="hos2()">
      <img src="assets/imgs/hos2.jpg"/>
      <ion-card-content>
        <ion-card-title>
          M B Multi Speciality Hospitals
          </ion-card-title>
        <p>
          M B Multi Speciality Hospitals in Arilova, Visakhapatnam is a top player in the category Neurosurgeons in the Visakhapatnam.
        </p>
        <p>Timings:2PM to 6PM</p>
      </ion-card-content>
    </ion-card>
     <ion-card>
    <img src="assets/imgs/hos3.jpg"/>
    <ion-card-content (click)="hos2()"> 
      <ion-card-title>
        Dr . M . Phanindranath Reddy
        </ion-card-title>
      <p>
        Established in the year 2014, Dr . M . Phanindranath Reddy in Arilova, Visakhapatnam is a top player in the category Hospitals in the Visakhapatnam.
      </p>
      <p>
        Timings:1PM to 5PM
      </p>
    </ion-card-content>
  </ion-card>
</ion-list>
</ion-content>
